body{
    background-color: #c0c0c0;
    padding: 0;
    margin: 0;

    transition: 1s;
    
    cursor: pointer;

}

body>div{
    background-color: white;
}

.WysOkna{
    display: none;
    width: 100px;
    float: left;
}
#Tworzenie>div{
    padding: 8px;
    text-align: center;
}
#Konf>div>input{
    width: 30px;
}
#ind{
    display: flex;
    width: 300px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
}
#ind>i{
    width: 100px;
    height: 100px;
}

.menu{
    background-color: #c0c0c0;
    display: flex;
    position: relative;
    width: 400px;
    height: 100px;
    transition: 0.5s;
}

.toggle{
    background-color: #30bdf2;
    width: 25%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggle>.material-icons{
    font-size: 60px;
}

.items{
    display: flex;
    flex-direction: row;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.5s;
    height: 100px;
}

.items>.przycisk{
    display: flex;
    background-color: white;
    width: 100px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #b2b2b2;
}
.przycisk{
    width: 100px;
}
.przycisk>.material-icons{
    font-size: 30px;
}

.przycisk:hover>.material-icons{
    font-size: 40px;
    color: #30bdf2;
} 

#cos{
    width: 300px;
    position: absolute;
}

.costamrobixpip{
    border: 1px solid black;
}

canvas {
    border: 1px solid black;
    margin-left: auto;
    margin-right: 0;
    margin-top: 10px;
    display: block;
    position: flex;
}


#undoButton {
    width: 40px;
    height: 40px;
    background-color: black;
} 
